<h1>Products</h1>

<% @products.each do |p| %>
  <ul>
    <li>
      <p><strong><%= p.name %></strong></p>
      <p><%= p.description %></p>
      <p><%= p.price_in_cents %>&#162;</p>
    </li>
  </ul>
<% end %>
